# Dependencies
node_modules/
venv/
env/

# Build Output (React)
dist/
build/

# Python
__pycache__/
*.pyc

# PyInstaller (Python Build)
chart_server/build/
chart_server/dist/
*.spec

# Executables
*.exe

# User Data / Storage
storage/

# Environment Variables & Logs
.env
*.log
npm-debug.log*
yarn-debug.log*

# IDE Settings
.vscode/
.idea/

# Local Scripts
git_guncelle.bat